# Excloure del repositori
# Directoris de resultat del Maven
target/
# Fitxers de projecte de Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.apt_generated_tests/
# Fitxers de projecte de IntelliJ IDEA
*.iml
.idea/
# Fitxers de projecte de Netbeans
nb-configuration.xml
faces-config.NavData

########################################

/scsp-pinbal/pinbal-ws-client/nbproject/
/scsp-commons/utils/nbproject/
/carpeta-pinbal/carpeta-pinbal-ws-client/bin/nbproject/
/carpeta-pinbal/carpeta-pinbal-ws-client/nbproject/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

